/* ========================= */
/* ===== DALTON MURRAY ===== */
/* ===== GAVIN POULTON ===== */
/* ===== YOUSIF HADDAD ===== */
/* ========================= */

/* ============================== */
/* = DOCUMENT INFORMATION       = */
/* =	- Document: contact.css = */
/* =	- Version:  1.0.2       = */
/* = 	- Client:   Windows 10  = */
/* ============================== */

/* ====================================================== */
/* = Fonts                                              = */
/* =	- universal  tahoma, Arial, sans-serif			= */
/* ====================================================== */

/* ================================================== */
/* = Colors                                         = */
/* =	- main background			#   			= */
/* ================================================== */

/* ======================== */
/* = CSS DIRECTORY		  = */
/* =	1. UNIVERSAL 	  = */
/* ======================== */

/* =================== */
/* ===== 1. Body ===== */
/* =================== */
main table {
    color: black;
    font-size: 1.5em;
    padding-left: 10px;
    margin: auto;
}

.required:after {
    content:" *";
    color: red;
}
