/* ========================= */
/* ===== DALTON MURRAY ===== */
/* ===== GAVIN POULTON ===== */
/* ===== YOUSIF HADDAD ===== */
/* ========================= */

/* ================================ */
/* = DOCUMENT INFORMATION         = */
/* =	- Document: landmarks.css = */
/* =	- Version:  1.0.5         = */
/* ================================ */

/* ======================== */
/* ===== 1. Universal ===== */
/* ======================== */
* {
    box-sizing: border-box;
}

/* =================== */
/* ===== 2. Body ===== */
/* =================== */
body {
    color: black;
}

h1 {
    font-size: 2.8vh;
}

h2 {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 2.7vh;
    font-weight: normal;
}

h3 {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 2.1vh;
}

h4 {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 1.8vh;
    font-weight: normal;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

p {
    word-wrap: wrap;
}

/* =================== */
/* ===== 3. Main ===== */
/* =================== */
main h1{
    color: black;
    font-size: 2.15em;
    text-align: center;
}

main figure {
    border-bottom: 1px solid black;
}

.mainTableRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
}

.mainTableColumn {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.mainTableColumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.mainTableColumn iframe {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 45vh;
}

.mainTableColumn figcaption {
    font-size: 2.0vh;
    color: black;
}

.mainTableColumn figcaption a {
    text-decoration: none;
}

#mainSource {
    padding-left: 45px;
    text-decoration: none;
}

#noBorder {
    border: 0;
}


/* ==================== */
/* ===== 4. Media ===== */
/* ==================== */
@media screen and (max-width: 600px) {
    .mainTableColumn {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .mainTableColumn {
        flex: 100%;
        max-width: 100%;
    }
}