/* ========================= */
/* ===== DALTON MURRAY ===== */
/* ===== GAVIN POULTON ===== */
/* ===== YOUSIF HADDAD ===== */
/* ========================= */

/* ============================== */
/* = DOCUMENT INFORMATION       = */
/* =	- Document:  */
/* =	- Version:  1.0.1       = */
/* = 	- Client:   Windows 10  = */
/* ============================== */

/* ====================================================== */
/* = Fonts                                              = */
/* =	- universal  tahoma, Arial, sans-serif			= */
/* ====================================================== */

/* ================================================== */
/* = Colors                                         = */
/* =	- main background			#   			= */
/* ================================================== */

/* ======================== */
/* CSS DIRECTORY		  = */
/*	1. UNIVERSAL		  = */
/* ======================== */


/* ======================== */
/*  ====== 1. MAIN ======   */
/* ======================== */
#mainHead{
    position: relative;
    text-align: center;
}

#mainHead header{
    opacity: 0.7;
}

#mainHead header a {
    text-decoration-line: none;
    color: white;
}

#mainHead header img {
    object-fit: contain;
    background-color: lightblue;
    height: 300px;
    max-height: 30%;
    width: 100%;
}

#mainCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}