/* ========================= */
/* ===== DALTON MURRAY ===== */
/* ===== GAVIN POULTON ===== */
/* ===== YOUSIF HADDAD ===== */
/* ========================= */

/* ============================== */
/* = DOCUMENT INFORMATION       = */
/* =	- Document: main.css    = */
/* =	- Version:  1.0.2       = */
/* = 	- Client:   Windows 10  = */
/* ============================== */

/* ====================================================== */
/* = Fonts                                              = */
/* =	- universal  tahoma, Arial, sans-serif			= */
/* ====================================================== */

/* ================================================== */
/* = Colors                                         = */
/* =	- main background			#   			= */
/* ================================================== */

/* ======================== */
/* CSS DIRECTORY		  = */
/*	1. MAIN     		  = */
/* ======================== */


/* ======================== */
/*  ====== 1. MAIN ======   */
/* ======================== */
#mainHead{
    position: relative;
    text-align: center;
}

#mainHead header {
    opacity: 0.7;
}

#mainHead header a {
    text-decoration-line: none;
    color: white;
}

#mainHead header a:hover {
    color: lightgray;
}

#mainHead header img {
    object-fit: contain;
    background-color: lightblue;
    height: 300px;
    max-height: 30%;
    width: 100%;
    border-bottom: 2px solid black;
}

#mainCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid white;
}

#menuButton {
    
}

#menuButton img{
    
}

/* ======================== */
/*  ====== 2. BODY ======   */
/* ======================== */
body {
    margin: 0;
}



/* ====================== */
/* ===== 10. FOOTER ===== */
/* ====================== */
footer {
    background-color: lightskyblue;
	padding: 1em;
	border-top: solid 2px black;
	width: auto;
	display: block;
	border-bottom: solid 2px black;
}



/* ============================ */
/* ===== 12. SCREEN 600PX ===== */
/* ============================ */
@media only screen and (min-width: 600px) {

}

/* ============================= */
/* ===== 13. SCREEN 1024PX ===== */
/* ============================= */
@media only screen and (min-width: 1024px) {

	@supports (display: grid) {

    }
}